@font-face {
  font-family: 'Verdana';
  src: url('./assets/Verdana.ttf') format('truetype');
}

:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
